body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a{
  outline-style: none;
}

/* modifying siplay temporarily */
.greyscale{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.no-show{
  display: none;
}


/* NAVBAR */

.brand-logo img{
  height: 63px;
}

.Logo {
  /* background-color: teal; */
  flex-basis: 50%;
  display: flex;
  align-items: center;
  padding: 2em;
  color: #888888;
}


/* HomeDiv */

.HomeDiv {
  height: 85vh;
  width: 100%;
  /*background-image: url("../assets/home2.jpeg");*/
  background-image: url("../assets/skyline.jpeg");
  background-size: cover;
  position: relative;
}

.pitchHomeDiv {
  height: 85vh;
  width: 100%;
  /*background-image: url("../assets/home2.jpeg");*/
  background-image: url("../assets/pitch.jpeg");
  background-size: cover;
  position: relative;
}

.exhiHomeDiv {
  height: 85vh;
  width: 100%;
  /*background-image: url("../assets/home2.jpeg");*/
  background-image: url("../assets/exhibition.jpg");
  background-size: cover;
  position: relative;
}

.transparent-box {
  background: rgba(36, 35, 77, 0.7);
  position: absolute;
  height: 85vh;
  width: 100%;
  display: flex;
  z-index: 0;
  padding: 1em;
}

.homeContent {
  /* background-color: teal; */
  flex-basis: 80%;
  width: 60%;
  height: 70vh;
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1.2fr 0.5fr 1fr 2fr;
  grid-template-areas: "logo" "INDIA" "Global" "Tickets";
}

.logos {
  height: 10px;
  width: 10px;
  flex-basis: 10%;
}

.logos img {
  width: 100%;
  height: auto;
}

.homeContent .logo {
  grid-area: logo;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
}

.homeContent .logo img {
  height: 175px;
}

.India {
  grid-area: INDIA;
  /* background-color: tomato; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.Global {
  grid-area: Global;
  width: 100%;
  /* background-color: darkgreen; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4em;
  text-align: center;

    font-family: 'monospace-font', Avenir, sans-serif;
    letter-spacing: -0.02em;
    line-height: 1.2;
    font-weight: 500;
    text-indent: 0em;
}

.Tickets {
  grid-area: Tickets;
  /* background-color: teal; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Tickets a {
  height: 5em;
  width: 15em;
  background-color: whitesmoke;
  opacity: 1;
  padding: 1em;
  border-radius: 10px;
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
}

.Tickets i {
  flex-basis: 30%;
  font-size: 25px;
  /* background-color: teal; */
  transform: rotate(-30deg);
  color: orangered;
  padding-right: 3px;
}

.ticketIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: teal; */
}

#bookTickets {
  flex-basis: 70%;
  /* height: 2em; */
  /* background-color: blueviolet; */
  /* display: inline; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: orangered;
  /* background-color: yellow; */
}

/* Global DIV */

.globalDiv {
  width: 100%;
  height: 80vh;
  padding: 4em;
  /* background-color: teal; */
  display: grid;
  grid-template-rows: 1fr 0.8fr 0.9fr;
}

.exhiglobalDiv{
  width: 100%;
  height: 100vh;
  padding: 4em;
  /* background-color: teal; */
  display: grid;
  grid-template-rows: 1fr 0.8fr 0.9fr;

}
.globalHead {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.7em;
  font-weight: lighter;
  color: tomato;
  /* background-color: teal; */
  font-family: 'monospace-font', Avenir, sans-serif;
    letter-spacing: -0.02em;
    line-height: 1.2;
    font-weight: 500;
    text-indent: 0em;

}

.globalContent {
  height: auto;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  /* background-color: yellow; */
  padding-bottom: 1em;
  font-family: 'Josefin Sans', sans-serif;
}

.globalDiv button {
  width: 14em;
  border-radius: 7px;
  justify-self: center;
  height: 4em;

}

/* ImagesDiv */

.imagesDiv {
  height: 100vh;
  background-color: #efefef;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.top-left {

  background-image: url("../assets/kochimetro.jpg");
  background-size: cover;
  grid-column: 1/3;
}

.top-right {
  background-image: url("../assets/hillpalace.jpg");
  background-size: cover;
  grid-column: 4/5;
}

.bottom-mid {
  background-image: url("../assets/akhil-chandran-204550-unsplash.jpg");
  background-size: cover;
  grid-column: 2/4;
}

.quote-section {
	font-size: 25px;
	background-color: #191d4e;
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
  padding: 1em;
  font-family: 'Josefin Sans', sans-serif;
}
/* COMPANIES */

.companies {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  font-weight: lighter;
  color: gray;
  font-family: 'Josefin Sans', sans-serif;
}

/* Parallax Div */

.kochi {
  opacity: 0.5;
}

.kochiDiv div {
  font-size: 3em;
  font-weight: lighter;
  color: white;
  z-index: 9;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  width: 80%;

}

.kochiDiv button {
  z-index: 9;
  margin-top: 2em;
  height: 55px;
}

.kochiDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: teal; */
  flex-direction: column;
}

.map-heading{
    text-align: center;
    padding-bottom: 2em;
    font-family: 'monospace-font', Avenir, sans-serif;
    letter-spacing: -0.02em;
    line-height: 1.2;
    font-weight: 500;
    text-indent: 0em;

}



@media (max-width: 768px) {
}

/* Style the container/contact section */

.map-box {
  display: inline-block;
  color: white;
  height: 50vh;
  padding-top: 10px;
  padding-bottom: 10vw;
  left: 0;
  border-radius: 5px;
  background-color: #303030;
  width: 100vw;
}

#map {
  margin-top: 2.5em;
  width: 100%;
  min-height: 50vh;
  height: 750px;
}

.attendeeContainer {
  width: 100%;
  overflow: hidden;
}

.attendeeHead {
  width: 100%;
  height: 30vh;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: lighter;
  color: tomato;
  /* background-color: teal; */
}

.attendeeDetails {
  width: 100%;
  min-height: 100vh;
}

.attendeeDetailDiv {
  height: auto;
  margin: auto;
  /* background-color: tomato; */
  display: grid;
  grid-template-columns: auto auto auto;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

hr {
  width: 90%;
  border-color: gray;
}

/*Contact portraits*/

.portrait {
  text-align: center;
  padding: 20px;
}

.portrait:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.portrait > img {
  width: 300px;
  border-radius: 300px;
}

/*Footer*/

.footerDiv {
  width: 100%;
  height:25vh;
  padding: 10px;
  padding-top: 3em;
  background-color: #333;
  display: grid;
  grid-template-areas: "ibeto icon1 icon2 icon3 excel" ". brand brand brand .";
}

.footerDiv a {
  color: white;
}

.logo {
  grid-area: logo;
  /* background-color: tomato; */
  color: white;
  display: grid;
}

.footerDiv .logo img {
  justify-self: center;
  align-self: center;
  height: 100px;
  margin-left: -50px;
  margin-bottom: 10px;
}

.footerDiv .logo div {
  justify-self: center;
  margin: -2em;
}

.footerDiv .logo div a {
  color: white;
  font-size: 18px;
  padding: 0 1em;
}

.footerDiv .logo div a:hover {
  cursor: pointer;
}

.footerIbeto {
  grid-area: ibeto;
  /* background-color: teal; */
  display: grid;
  margin: auto;
}

.footerIbeto img {
  justify-self: center;
  align-self: center;
  height: 5em;
}

.footerIbeto div {
  justify-self: center;
  color: white;
  margin-top: -1em;
}

.footerExcel {
  grid-area: excel;
  /* background-color: #333; */
  display: grid;
  margin: auto;
}

.footerExcel img {
  justify-self: center;
  align-self: center;
  height: 5em;
}

.footerExcel div {
  justify-self: center;
  color: white;
  margin-top: -1em;
}

.Excelbrand {
  /* margin-top: 4em; */
  grid-area: brand;
  /* background-color: brown; */
  display: grid;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.Excelbrand span {
  align-self: center;
  justify-self: center;
  color: white;
}

.icon1{
  grid-area: icon1;
  margin: auto;
}
.icon2{
  grid-area: icon2;
  margin: auto;
}
.icon3{
  grid-area: icon3;
  margin: auto;
}

/* Responsive - Mobile View */

/*
@media (max-width: 768px) {
  .footerDiv {
    height: 50vh;
  }
  .footerDiv .logo img {
    display: none;
  }
  .footerDiv .logo div {
    margin-top: 1em;
  }
  .footerDiv .logo div span {
    display: block;
  }
  .footerDiv .logo div a {
    font-size: 12px;
    padding: 0 4px;
  }
  .footerIbeto img {
    height: 3em;
  }
  .footerIbeto div {
    font-size: 8px;
  }
  .footerExcel {
    margin: 0 1em;
  }
  .footerExcel img {
    height: 3em;
  }
  .footerExcel div {
    font-size: 8px;
  }
}
*/

/* Media queries */

/* ipad logo landscape*/
@media only screen and (max-width:1200px){
    .homeContent .logo img {
        height: 150px;
    }
}

/*ipad potrait grids*/

@media only screen and (max-width: 805px) {
    .imagesDiv {
        height: auto;
        background-color: #EFEFEF;
        display: grid;
        grid-template-columns: auto;
    }
    .top-left {
        background-size: cover;
        grid-column: auto;
        height: 35vh;
    }
    .top-right {

        background-size: cover;
        grid-column: auto;
        height: 40vh;
    }
    .bottom-mid {

        background-size: cover;
        grid-column: auto;
        height: 40vh;
    }
    .quote-section {
        height: 35vh;
        grid-column: auto;
        color: white;
    }
    .attendeeDetailDiv {
        grid-template-columns: auto auto;
    }
    
    .homeContent .logo img {
        height: 125px;
      }

    .brand-logo img{
      display: none;
    }
}
/* iphone 6s and 6s+*/

@media only screen and (max-width: 450px) {
    .HomeDiv {
        height: 90vh;
    }
    .transparent-box {
        height: 90vh;
    }
    .India {
        font-size: 15px;
    }
    .Global {
        font-size: 35px;
        text-align: center;
    }
    #tickets {
        font-size: 15px;
    }

    #bookTickets {
       font-size: 15px;
    }
    .Tickets i {
        font-size: 25px;
    }
    .Tickets a {
        padding: 10px 20px;
    }
    .globalDiv {
        height: 95vh;
    }

    .globalHead {
        height: auto;
        text-align: center;
        font-size: 2.5em;
    }
    .globalContent {
        font-size: 15px;
    }
    .imagesDiv {
        height: auto;
        background-color: #EFEFEF;
        display: grid;
        grid-template-columns: auto;
    }
    .top-left {
      
        background-size: cover;
        grid-column: auto;
        height: 35vh;
    }
    .top-right {
        background-size: cover;
        grid-column: auto;
        height: 55vh;
    }
    .bottom-mid {
        background-size: cover;
        grid-column: auto;
        height: 40vh;
    }
    .quote-section {
        height: 35vh;
        grid-column: auto;
        color: white;
    }
    .attendeeDetailDiv {
        grid-template-columns: auto;
    }

    .attendeeHead{
        font-size: 2.4em;
    }
    .homeContent .logo img {
        height: 100px;
      }
  .imagesDiv {
    height: auto;
    background-color: #efefef;
    display: grid;
    grid-template-columns: auto;
  }
  .top-left {
    background-size: cover;
    grid-column: auto;
    height: 35vh;
  }
  .top-right {

    background-size: cover;
    grid-column: auto;
    height: 40vh;
  }
  .bottom-mid {
    background-size: cover;
    grid-column: auto;
    height: 40vh;
  }
  .quote-section {
    height: 35vh;
    grid-column: auto;
    color: white;
  }
  .attendeeDetailDiv {
    grid-template-columns: auto auto;
  }
  
  .footerDiv {
    grid-template-areas: "ibeto . . . excel" ". icon1 icon2 icon3 ." ". brand brand brand .";
    height: 225px;
  }
  .footerDiv img{
    height: 42px;
  }

  .footerDiv .logo div a {
      font-size: 17px;
      padding: 0 4px;
  }

  .icon3 img{
    height: 30px;
  }
}
/* iphone 6s and 6s+*/

@media only screen and (max-width: 420px) {
  .HomeDiv {
    height: 90vh;
  }
  .transparent-box {
    height: 90vh;
  }
  .India {
    font-size: 15px;
  }
  .Global {
    font-size: 35px;
    text-align: center;
  }
  #tickets {
    font-size: 15px;
  }
  .Tickets i {
    font-size: 25px;
  }
  .Tickets a {
    padding: 10px 20px;
  }
  .globalDiv {
    height: 95vh;
  }
  .exhiglobalDiv{
    height: 90vh;
    }
  .globalHead {
    height: auto;
    text-align: center;
    font-size: 2.5em;
  }
  .globalContent {
    font-size: 17px;
  }

  .imagesDiv {
    height: auto;
    background-color: #efefef;
    display: grid;
    grid-template-columns: auto;
  }

  .top-left {
    background-size: cover;
    grid-column: auto;
    height: 35vh;
  }

  .top-right {
    background-size: cover;
    grid-column: auto;
    height: 55vh;
  }

  .bottom-mid {
    background-size: cover;
    grid-column: auto;
    height: 40vh;
  }

  .quote-section {
    height: 35vh;
    grid-column: auto;
    color: white;
    font-size: 24px;
  }
  .attendeeDetailDiv {
    grid-template-columns: auto;
  }

  .attendeeHead {
    font-size: 2.4em;
  }
  .footerDiv .logo div a {
    font-size: 12px;
    padding: 0 4px;
  }
  .kochiDiv div {
    font-size: 2.5em;
  }
}

/* very small phone Iphone SE */

@media only screen and (max-width: 320px) {
  .India {
    font-size: 15px;
  }
  .Global {
    font-size: 35px;
    text-align: center;
  }
  .globalContent {
    font-size: 15px;
  }
  .globalDiv {
    height: 100vh;
  }
  .exhiglobalDiv{
    height: 125vh;
    }
    
  .globalDiv button {
    width: auto;
  }
  .globalDiv button {
    height: 3em;
  }

    /* HomeDiv */
    .logos {
      width: 20% !important;
    }
    .homeContent {
      width: 60% !important;
    }
    .homeContent div{
      width: 85% !important;
    }
    
  
}

/*Track*/
/* TRACK CONTACT */
.trackContacts {
  margin-top: 4em;
  margin-bottom: 4em;
  height: auto;
  width: 100vw;
  position: relative;
  padding: 1em;
  justify-content: center;
  align-items: center;
  /* background-color: teal; */
}

.trackContacts > div {
  text-align: center;
  color: tomato;
  display: grid;
}

.trackContactDetails {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
}

/* meadia query for the trackcontacts */

@media only screen and (max-width: 450px) {
  .trackContacts {
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .trackContactDetails {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
  }
  .portrait > img {
    width: 175px;
    border-radius: 175px;
  }
  .portrait {
    font-size: 15px;
    padding: 10px;
  }
  .homeContent {
    width: 80%;
  }
  .homeContent .logo img {
    justify-self: center;
    align-self: center;
    height: 100px;
  }

  /* HomeDiv */
  .logos {
    flex-basis: 25%; 
  }
  .homeContent {
    flex-basis: 50%;
  }
  
}

/* ipad logo landscape*/
@media only screen and (max-width: 1200px) {
  .homeContent .logo img {
    height: 150px;
  }
}
